.vscode
notes.md
data/raw/*
data/out/parsed/*
.venv
__pycache__
.DS_Store
babi.egg-info
data/prepare/pruning/raw
out/
program/examples
program/static/model.keras
labeling/out/model.keras
build/
dist/
*.spec
local/
data/testing/
*.png
*.egg-info
*.whl